#albumInfo {
  background: linear-gradient(180deg, rgba(230, 198, 82, 1) 0%, rgba(118, 102, 42, 1) 100%);
  padding-bottom: 20rem;
  padding-inline: 2rem;
  padding-top: 2rem;
}

#albumContent {
  background: rgb(18, 18, 18);
  background: linear-gradient(180deg, rgba(18, 18, 18, 0.26213813161983546) 0%, rgba(18, 18, 18, 1) 38%);
  top: -15em;
  right: 0;
  left: 0;
}

#cover {
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

#type {
  font-size: 0.81rem;
}

#playBtn {
  border: 0;
  background-color: #1ed760;
}

#favBtn,
#moreBtn,
#downloadBtn {
  border: 0;
  background-color: transparent;
  fill: #cac7bc;
}

#clockIcon {
  fill: #8f8e87;
}

.light-gray {
  color: #a9a9a8;
}

.songNumber {
  width: 4.3%;
}

main {
  margin-left: 300px !important;
  margin-right: 250px !important;
}

nav {
  top: 0;
  right: 250px;
  left: 300px;
  z-index: 9999;
  background-color: #1313132a;
}

@media screen and (max-width: 991px) {
  main {
    margin-right: 0 !important;
  }
  nav {
    right: 0;
  }
}

#aside-sx {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  padding-top: 5px;
}

@media screen and (max-width: 769px) {
  main {
    margin-left: 0 !important;
  }
  #albumContentWrapper {
    padding-bottom: 50px !important;
  }
  nav {
    left: 0;
  }
  #aside-sx {
    flex-direction: row !important;
    justify-content: space-around;
    height: auto;
    width: 100%;
    top: auto;
    bottom: -35px;
    background-color: #131313de;
  }
}

@media screen and (max-width: 1560px) {
  #titolo-card {
    font-size: 3rem !important;
  }
}
@media screen and (max-width: 1120px) {
  #titolo-card {
    font-size: 2.2rem !important;
  }
}
@media screen and (max-width: 991px) {
  #titolo-card {
    font-size: 3.2rem !important;
  }
}
