/* #mainWrapper {
  margin-left: 300px !important;
  margin-right: 250px !important;
} */

nav {
  top: 0;
  right: 250px;
  left: 300px;
  z-index: 9999;
  background-color: #1313132a;
}

@media screen and (max-width: 991px) {
  #mainWrapper {
    margin-right: 0 !important;
  }
  nav {
    right: 0;
  }

  #imgMobile {
    width: 100px;
  }
}

#cardsPlaylist {
  background-color: transparent;
}

@media (min-width: 768px) {
  #cardsPlaylist {
    background-color: #363636;
  }
}
